<header class="
    border-b
">
    <div class="
        bg-blue-200
        h-48
        
        relative
        
        md:content-center
        md:justify-between
        md:flex
        
        pl-8
        pr-40
        md:pr-8
        py-4
        mx-auto
        
        max-w-6xl
    ">
        
    </div>
</header>
