<button id="openMenu" class="
    absolute
    right-0
    top-0
    
    font-bold
    text-black
    
    border
    border-gray-500
    rounded
    
    px-4
    py-2
    mr-8
    mt-4

    hover:bg-gray-200
    
    md:hidden
    
    md:right-auto
    md:top-auto
    
    transition-background-color
">
    Menu
</button>
