<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% block head_title %}{{ title }}{% endblock %}</title>

    <meta name="description" content="This one-page site demonstrates the Tailwind CSS framework for South Dakota Code Camp 2019.">
    <meta name="theme-color" content="#2c5282">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./images/site.webmanifest">

    <!-- Main CSS -->
    <link href="./css/main.css" rel="stylesheet">
</head>
