<div class="bg-blue-100 border-gray-500 border-b border-t py-4 w-full" role="alert">
    <p class="max-w-6xl mx-auto px-8 mb-0"><strong>Annual Meeting</strong></p>
    <p class="max-w-6xl mx-auto px-8 text-sm mb-0">The 34th Annual Meeting of NAA will be held April 4, 2020, in Columbus.</p>
</div>
