<footer class="
    bg-gray-700
    
    px-8
    py-8">
    <div class="
        mx-auto
        
        max-w-6xl
    ">
        <p class="
            text-white
            
            mb-0
        ">© 2019 Nebraska Admirals Association. All Rights Reserved.</p>
    </div>
</footer>
