<header class="border-b">
    <div class="px-8 py-4 mx-auto max-w-6xl md:content-center md:justify-between md:flex">
        <h1>
            <a href="/" class="no-underline">
                Nebraska Admirals Association
            </a>
        </h1>
        <button class="
            bg-blue-500
            hover:bg-blue-700
            
            font-bold
            text-white
            
            px-4
            py-2
        ">
            Nominate an Admiral
        </button>
    </div>
    {% include '../partials/alert.twig' %}
</header>
