<div class="
    mb-12
    md:mb-0
    
    max-w-xs
">
    <img src="images/admirals.svg" alt="Nebraska Admirals">
</div>
<nav id="mainNavigation" class="
    hidden
    md:block
    fixed
    md:static
    top-0
    left-0
    md:left-auto
    overflow-y-auto
    scrolling-touch
    
    text-gray-700
    
    bg-white
    md:bg-transparent
    
    py-4
    md:py-12
    pl-8
    md:pl-0
    pr-40
    md:pr-0
    
    w-full
    md:w-auto
    h-full
    md:h-auto
">
    <button id="closeMenu" class="
        md:hidden
        absolute
        right-0
        md:right-auto
        top-0
        md:top-auto
        
        hover:bg-gray-200
        
        font-bold
        
        border
        border-gray-500
        rounded
        
        px-4
        py-2
        mr-8
        mt-4
    ">
        Close
    </button>
    <ul class="
        list-none
    ">
        <li><a href="#">Events and Meeting Info</a></li>
        <li><a href="#">Newsletters</a></li>
        <li><a href="#">Scholarships & Projects</a></li>
        <li><a href="#">Membership</a></li>
        <li><a href="#">NAA Board</a></li>
        <li><a href="#">Ports & Port Commanders</a></li>
        <li><a href="#">Famous Admirals</a></li>
        <li><a href="#">Merchandise Catalog</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>
