<div class="
    mb-12
    
    max-w-xs
">
    <img src="images/admirals.svg" alt="Nebraska Admirals">
</div>
<nav class="
    hidden
    md:block
    overflow-y-auto
    scrolling-touch
    
    text-gray-700
    
    bg-white
    md:bg-transparent
    
    h-full
    md:h-auto
">
    <ul class="
        list-none
    ">
        <li><a href="#">Events and Meeting Info</a></li>
        <li><a href="#">Newsletters</a></li>
        <li><a href="#">Scholarships & Projects</a></li>
        <li><a href="#">Membership</a></li>
        <li><a href="#">NAA Board</a></li>
        <li><a href="#">Ports & Port Commanders</a></li>
        <li><a href="#">Famous Admirals</a></li>
        <li><a href="#">Merchandise Catalog</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>
