<div class="max-w-xs mb-12">
    <img src="images/admirals.svg" alt="Nebraska Admirals">
</div>
<nav class="hidden md:block h-full md:h-auto bg-white md:bg-transparent overflow-y-auto text-gray-700 scrolling-touch">
    <ul class="list-none">
        <li><a href="/events">Events and Meeting Info</a></li>
        <li><a href="/newsletters">Newsletters</a></li>
        <li><a href="/scholarships">Scholarships & Projects</a></li>
        <li><a href="/membership">Membership</a></li>
        <li><a href="/board">NAA Board</a></li>
        <li><a href="/ports">Ports & Port Commanders</a></li>
        <li><a href="/famous">Famous Admirals</a></li>
        <li><a href="/merch">Merchandise Catalog</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>
