{% set title = 'Nebraska Admirals Association' %}

{% extends '../global/base.twig' %}

{% block content %}
    <h2>Who we are</h2>
    <p>
        The Nebraska Admirals Association was formed by those who had been honored by the Governor of Nebraska with an Admirals certificate to promote and enjoy tourism in the state of Nebraska, including by members of the Association.
    </p>
    <p>
         Annual meetings are held in various Nebraska towns, including those named as "Ports" by the Association, highlighting the host town's area tourism attractions.
    </p>
    <p>
        <strong>Members of the Association celebrate Nebraska!</strong>
    </p>
    <hr>
    <h2>Nebraska Admirals Association Mission:</h2>
    <p>
        NAA's primary purpose is to organize the Admirals in the Nebraska Navy into a force for the promotion and enhancement of the "Good Life of the State of Nebraska," specifically:
    </p>
    <ul>
        <li>To promote education and educational activities throughout the state.</li>
        <li>To promote tourism in the state.</li>
        <li>To promote Nebraska products.</li>
        <li>To enhance Nebraska's agricultural industry.</li>
        <li>To seek and save Nebraska's sea.</li>
        <li>To develop and maintain ports throughout the state.</li>
        <li>To enjoy fun activities such as "walking the plank."</li>
        <li>To build Nebraska pride and esprit de corps.</li>
        <li>To recycle Nebraska's assets.</li>
        <li>To increase the fleet of flagships of the Nebraska Navy.</li>
        <li>To continue efforts to have U.S. Naval ships named after Nebraska, its people and places.</li>
    </ul>
    <hr>
    <h2>History</h2>
    <p>
        In 1931, Nebraska Lieutenant Governor Theodore W. Metcalf found himself to be Acting Governor for several weeks. To please some of his friends, he appointed 20 to 25 "prominent Nebraskans" as Admirals; hence, the Great Navy of the State of Nebraska was born.
    </p>
    <p>
        While the practice of awarding commissions to the more or less "prominent" has persisted, a requirement for some meaningful act or service to the state or community has become more and more necessary to obtain an Admiral certificate.    
    </p>
    <p>
        It is believed that several hundred thousand Admirals have been appointed. Many Nebraskans and visitors to our state have not heard of our navy; they have not heard of the waves of prairie schooners that at one time plied our plains under which lies our real wealth—Nebraska's underground sea.
    </p>
{% endblock %}
